// verstalo styles

.gallery
	position: relative
	overflow: auto
	+r(768)
		overflow: inherit 
	&__head
		position: relative
		background-size: cover
		background-position: 50% 50%
		&-wrap
			height: 330px
			background: rgba(#000,.5)
			+vertical
		&-title
			display: inline-block
			+opensans-sb
			font-size: 46px
			color: #FFF
			text-transform: uppercase
			vertical-align: middle
		&-foot
			position: absolute
			left: 0
			right: 0
			bottom: 20px
		&-breadcrumbs
			color: #FFF
			ul
				li
					a
						color: #FFF 
	&__list
		white-space: nowrap
		font-size: 0
		+r(768)
			white-space: normal
	&__col
		display: inline-block
		padding: 4px 2px 0
		vertical-align: top
		&:nth-child(2n+1)
			margin-top: 90px
		&:nth-child(4n+1)
			margin-top: 150px 
		+r(768)
			width: 50%
			padding: 0 2px 
			&:nth-child(2n+1)
				margin-top: 0
			&:nth-child(4n+1)
				margin-top: 0
		+r(568)
			width: 100% 		 	 		
	&__item
		position: relative
	&__link
		display: block
		width: 387px
		height: 340px
		margin-bottom: 4px
		+r(768)
			width: 100%
			height: auto  
	&__link:hover &__play
		opacity: 0 
	&__link:hover &__plus
		opacity: 1
	&__pic
		display: block
		max-width: 100%
		border-radius: 4px
		+r(568)
			width: 100% 
	&__full
		position: absolute
		top: 0
		right: 0
		width: 40px
		height: 40px
		border-radius: 0 4px 0 0
		background: #2E4F82 
		+vertical
		color: #fff 
		.icon
			font-size: 22px 
			vertical-align: middle
	&__play
		position: absolute
		top: 50%
		left: 50%
		width: 110px
		height: 110px
		margin: -55px 0 0 -55px
		padding-left: 10px
		border-radius: 50%
		background: rgba(#000,.6)
		+vertical
		color: #fff
		transition: opacity .2s
		.icon
			font-size: 50px
			vertical-align: middle
	&__plus
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#fff,.6)
		border-radius: 4px
		opacity: 0
		transition: opacity .2s 
		+vertical
		color: #fff 
		.icon
			font-size: 70px
			vertical-align: middle
	&__sort
		background: $lightgrey
		padding: 5px 0
		&-center
			font-size: 0
		&-item
			display: inline-block
			height: 62px
			width: 190px
			margin-right: 5px
			border-radius: 4px
			background: #fff
			transition: background 200ms
			color: #353535
			text-align: center
			+vertical
			text-decoration: none
			vertical-align: top
			&:hover
				background: $green
			&:focus,
			&.is-active
				+gradient
				+opensans-eb
				color: #FFF
		&-title
			display: inline-block
			font-size: 14px
			vertical-align: middle
	&__tags
		padding: 30px 0
		border-bottom: 1px solid $lightgrey
	&__top
		&-title
			padding: 30px 0
	&_gray
		padding-bottom: 120px
		background: #F2F2F2

.back
	display: inline-block
	height: 62px
	min-width: 190px
	padding: 0 20px
	border-radius: 4px
	background: #fff
	transition: background 200ms
	color: #353535
	+vertical
	white-space: nowrap
	text-decoration: none
	vertical-align: top
	&:hover,
	&:focus,
	&.is-active
		+gradient
		color: #FFF
	&__center
		display: inline-block
		vertical-align: middle
	&__icon,
	&__title
		display: inline-block
		vertical-align: middle
	&__icon
		padding-right: 15px
		.icon-arr-left
			font-size: 20px
	&__title
		+opensans-eb
		font-size: 14px
		text-transform: uppercase

.albums
	margin-bottom: 90px
	&__head
		padding: 25px 0
	&__list
		margin: 0 -2px 40px
		font-size: 0
	&__item
		display: inline-block
		position: relative
		width: 292px
		margin: 0 2px 4px
		vertical-align: top
	&__link
		display: block
		background: #EBEBEB 
		border-radius: 4px
		text-decoration: none
		transition: background .2s
		&:hover
			background: #D8D8D8
	&__link:hover &__plus
		opacity: 1
	&__preview
		position: relative
		height: 200px
	&__plus
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		border-radius: 4px 4px 0 0
		background: rgba(#d8d8d8,.6)
		+vertical
		color: #fff
		opacity: 0
		transition: opacity .2s 
		.icon
			font-size: 70px
			vertical-align: middle
	&__pic
		display: block
		max-width: 100%
		border-radius: 4px 4px 0 0
	&__info
		padding: 10px
		min-height: 170px
		+opensans-sb
		line-height: 1.375 
	&__title
		margin-bottom: 5px
		font-size: 16px
		color: #323232
	&__meta
		font-size: 0
		&-item
			display: inline
			margin-right: 10px
			font-size: 14px
			color: #929292
			&:last-child
				&:after
					display: none
			&:after
				content: ""
				display: inline-block
				width: 4px
				height: 4px
				margin-left: 10px
				background: #929292
				border-radius: 50% 
				vertical-align: middle
	&__share
		position: absolute
		top: 0
		right: 0
		width: 40px
		height: 40px
		border-radius: 0 4px 0 0
		background: #2E4F82 
		+vertical
		color: #fff
		transition: all .2s
		z-index: 2
		.icon
			font-size: 20px 
			vertical-align: middle

.sitemap
	&__list
		font-size: 0
	&__item
		display: inline-block
		width: 33.33%
		margin-bottom: 50px
		padding-right: 5.33%
		vertical-align: top
	&__title
		padding: 0 25px 20px
		font-size: 26px
	&__link
		display: block
		padding: 12px 25px
		border-bottom: 1px solid #e3e3e3
		color: #787878
		text-decoration: none
		+clr
		&:first-child
			border-top: 1px solid #e3e3e3
		&-arrow
			float: left
			margin: 5px 15px 0 0
			font-size: 0
			.icon
				font-size: 9px
		&-title
			display: table
			+opensans-sb
			font-size: 17px 

.links
	&__h1
		margin-bottom: 40px
	&__list
		margin-bottom: 50px
	&__item
		display: block
		margin-bottom: 15px
		border: 2px solid #e3e3e3
		border-radius: 24px
		color: #787878
		text-decoration: none
		+clr
		&-arrow
			float: right
			width: 60px
			height: 44px
			+vertical
			.icon
				vertical-align: middle
			.icon-arrow-link
				font-size: 9px
			.icon-arrow-download
				font-size: 20px
		&-title
			display: table
			padding: 13px 22px
			+opensans-sb
			font-size: 14px

















