extends _layout

block title
	title 404 ERROR

block content
	include _header

	// 404 error
	.error
		.error__title
			.h1 404
			p Page not found
		.error__img
			img(src="img/pencil.png", alt="")
		.error__bottom
			ul
				li Go to the home page of the site: <a href="www.parasport.ru">www.parasport.ru</a>		
				li.contact-us
					p Contact us:
					ul
						li
							a(href="phone:+7 495 930 99 84") 
								i.icon-phone
								span +7 495 930 99 84
						li
							a(href="#")
								i.icon-email
								span info@parasport.ru		
	include _footer		










