// footer
footer.footer
	.center.footer__in
		.footer__logo
			a(href="index.html")
				img(src="img/logo-white.svg", width="94", alt="")
		.footer__menu
			.footer__link
				a(href="#") Cookies Policy
			.footer__link
				a(href="#") Terms & Conditions
			.footer__link
				a(href="#") Sitemap
			.footer__link
				a(href="#") Contact us			
		.footer__socials
			span Follow us:
			ul
				li
					a(href="#")
						i.icon-tw
				li
					a(href="#")
						i.icon-fb
				li
					a(href="#")
						i.icon-play
				li
					a(href="#")
						i.icon-in				
		.footer__copyrights © Copyright 2015