block header
    //- header
    .header
        .header__in
            .logo
                a(href="index.html")
                    img(src="img/logo.svg", width="212", alt="")
            button.humb.js-humb
                span
            .lang
                .lang__selected.js-lang-status
                    span EN
                    img(src="img/unionjack.png", alt="")
                ul.js-lang-list
                    li.lang__item
                        button(type="button").lang__btn.js-lang-btn.active
                            span EN
                            img(src="img/unionjack.png", alt="")
                    li.lang__item
                        button(type="button").lang__btn.js-lang-btn
                            span RU
                            img(src="img/Flag_of_Russia.png", alt="")
            .header__content.js-mob-menu
                nav.nav
                    ul.menu
                        li.menu__link
                            a(href="#").menu__about.js-dropdown-btn
                                span ABOUT US
                                .plus
                            .dropdown.js-dropdown
                                ul
                                    li
                                        a(href="#") Who we are
                                    li
                                        a(href="#") Our mission
                                    li
                                        a(href="#") Impact we have made
                                    li
                                        a(href="#") Executive board
                        li.menu__link
                            a(href="#").menu__programs.js-dropdown-btn
                                span programmes
                                .plus
                            .dropdown.js-dropdown
                                ul
                                    li
                                        a(href="#") Paralympic sponsorship
                                    li
                                        a(href="#") Paralympic movement
                                    li
                                        a(href="#") Training
                                    li
                                        a(href="#") Helpful links and resources
                        li.menu__link
                            a(href="#").menu__heroes
                                span our heroes
                        li.menu__link
                            a(href="#").menu__partners
                                span partners
                        li.menu__link
                            a(href="#").menu__media.js-dropdown-btn
                                span media & events
                                .plus
                            .dropdown.js-dropdown
                                ul
                                    li
                                        a(href="#") News
                                    li
                                        a(href="#") We are in the news
                                    li
                                        a(href="#") Gallery
                                    li
                                        a(href="#") Events
                a(href="#").support-link
                    span support us