doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Jade Layout Template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" media="all" href="css/style.css")
    script(src="js/app.js")
  body
    .cookies
      .center.cookies__in
        .cookies__left
          p We use cookies on this site to enhance your user experience. By clicking any link on this page you are giving your consent for us to set cookies.
         .cookies__right
            button.cookies__btn
              span Ok, no problem
              i.icon-ok
            button.cookies__btn
              span No, tell me more
              i.icon-arr-right
    //BEGIN out
    .out
      block content

    //END out
    