extends _layout

block title
	title Executive_Board

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") About us
					li
						a(href="#") Executive Board

			aside.sidebar
				.widget
					.widget__title SUPPORT US
					p Only with your support and Parasport we can be proud of our Olympians
					img(src="img/ambrella.png", alt="")
					button.btn support us
				.widget.widget_grey.brochure
					.widget__title DOWNLOAD OUR LATEST BROCHURE
					img(src="img/brochure.png", alt="")
					button.btn DOWNLOAD
				.widget.widget_grey
					a(href="#").asia-pasific
						.asia-pasific__logo
							img(src="img/logo.svg", width="82", alt="")
						p PARASPORT
						p ASIA
						p PACIFIC
			.content
				.board
					.topper
						.topper__share
							button.share
								i.icon-share-big
								p Share
						.topper__in
							h1.h1 Executive Board
							p Контролирующим органом фонда является попечительский совет, который осуществляет надзор за деятельностью фонда, принятием другими органами фонда решений и обеспечением их исполнения, использованием средств фонда, соблюдением фондом законодательства РФ.
					.board__list
						.board__item
							.board__left
								.round
									i.icon-human2
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor
						.board__item
							.board__left
								.round
									i.icon-human3
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor	
						.board__item
							.board__left
								.round
									i.icon-human4
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor
						.board__item
							.board__left
								.round
									i.icon-human5
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor
						.board__item
							.board__left
								.round
									i.icon-human6
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor
						.board__item
							.board__left
								.round
									i.icon-human2
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor
						.board__item
							.board__left
								.round
									i.icon-human4
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor
						.board__item
							.board__left
								.round
									i.icon-human5
							.board__right
								.board__title PAVEL ROZHKOV
								ul
									li Chairman & First Vice President of the Executive
									li Committee of the Russian Paralympic Committee
									li Honored Сoach of Russia, D.Sc. in Economics, Professor					
	include _footer		










