extends _layout

block title
	title gallery-album-detail

block content

	//- header
	.header
		.header__in
			.logo.logo_sm
				a(href="index.html")
					img(src="img/logo-sm.svg", width="34", alt="")
			.header__content			
				nav.nav
					ul.menu
						li.menu__link
							a(href="#").menu__about ABOUT US
							.dropdown
								ul
									li
										a(href="#") Who we are
									li
										a(href="#") Our mission
									li
										a(href="#") Impact we have made
									li
										a(href="#") Executive board			
						li.menu__link
							a(href="#").menu__programs programmes
							.dropdown
								ul
									li
										a(href="#") Paralympic sponsorship
									li
										a(href="#") Paralympic movement
									li
										a(href="#") Training
									li
										a(href="#") Helpful links and resources	
						li.menu__link
							a(href="#").menu__heroes our heroes			
						li.menu__link
							a(href="#").menu__partners partners
						li.menu__link
							a(href="#").menu__media media & events
							.dropdown
								ul
									li
										a(href="#") News
									li
										a(href="#") We are in the news
									li
										a(href="#") Gallery
									li
										a(href="#") Events
				a(href="#").support-link support us
				ul.lang
					li.lang__item
						button(type="button").lang__btn.active
							img(src="img/unionjack.png", alt="")
					li.lang__item
						button(type="button").lang__btn
							img(src="img/Flag_of_Russia.png", alt="")

	//- gallery
	.gallery.gallery_gray
		.gallery__center.center
			.gallery__top
				//- back
				a.back(href="#")
					.back__center
						.back__icon
							i.icon.icon-arr-left
						.back__title Back to albums
				//- title
				.gallery__top-title.title DAY 3 - 2015 IPC Athletics World championships, doha, qatar
		.gallery__list
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full

	include _footer











