extends _layout

block title
	title gallery-album-detail

block content
	//- gallery
	.gallery
		.gallery__list
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
			.gallery__col
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__play
							i.icon.icon-gallery-play
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full
				.gallery__item
					a.gallery__link(href="#")
						.gallery__preview
							img.gallery__pic(src="img/gallery.jpg")
						.gallery__plus
							i.icon.icon-gallery-plus
					button.gallery__full
						i.icon.icon-gallery-full












