extends _layout

block title
	title gallery

block content
	//- gallery
	.gallery
		.gallery__head(style="background-image: url(img/gallery-bg.jpg)")
			.gallery__head-wrap
				//- center
				.gallery__head-title.center Gallery
			.gallery__head-bc
				//- center
				.gallery__head-center.center Breadcrumbs
	//- center
	.center
		//- albums
		.albums
			.albums__list
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share












