extends _layout

block title
	title gallery

block content
	include _header

	//- gallery
	.gallery
		.gallery__head(style="background-image: url(img/gallery-bg.jpg)")
			.gallery__head-wrap
				//- center
				.gallery__head-title.center Gallery
			.gallery__head-foot
				//- center
				.gallery__head-center.center
					//- breadcrumbs
					nav.gallery__head-breadcrumbs.breadcrumbs
						ul
							li
								a(href="home.html") Home
							li
								a(href="#") Media & Events
							li
								a(href="#") Gallery
		//- tabs
		.gallery__sort
			.tabs.center
				.tabs__topper
					.tabs-row.js-tabs
						.tabs-row__prev.js-tabs-prev
						.tabs-row__next.js-tabs-next
						.tabs-row__in.js-tabs-wrap
							ul.tabs__nav.js-tabs-list
								li
									a(href="#").tabs__link.active
										span 2015
								li
									a(href="#").tabs__link 
										span 2014
								li
									a(href="#").tabs__link
										span 2013
								li
									a(href="#").tabs__link 
										span 2012
								li
									a(href="#").tabs__link
										span 2011
								li
									a(href="#").tabs__link
										span 2010
		.gallery__tags
			//- center
			.gallery__center.center
				//- tags
				.tags.tags_gray
					ul
						li Tags: 
						li
							a.tag.active(href="#") All
						li
							a.tag(href="#") Skiing
						li
							a.tag(href="#") Swimming
						li
							a.tag(href="#") Ceremony
						li
							a.tag(href="#") Skiing
						li
							a.tag(href="#") Swimming
						li
							a.tag(href="#") Ceremony
						li
							a.tag(href="#") Skiing
						li
							a.tag(href="#") Swimming
						li
							a.tag(href="#") Ceremony
	//- center
	.center
		//- albums
		.albums
			//- title
			.albums__head.title ALL ALBUMS
			.albums__list
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
				.albums__item
					a.albums__link(href="#")
						.albums__preview
							img.albums__pic(src="img/albums.jpg")
							.albums__plus
								i.icon.icon-gallery-plus
						.albums__info
							.albums__title Day 5 - 2015 IPC Athletics World Championships, Doha, Qatar
							.albums__meta
								.albums__meta-item 53 photos
								.albums__meta-item 23 Sep 2015
					button.albums__share
						i.icon.icon-share
			//- more-wrap
			.more-wrap
				button.more
					span Load more
					i.icon-load

	include _footer











