extends _layout

block title
	title Hero_story

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") Our heroes

			aside.sidebar
				.widget.widget_grey
					.widget__title Le Van Cong
					p Born prematurely with legs that were too small. 
					img(src="img/img1.png", alt="")
					a(href="#").btn READ HIS STORY
				.widget.widget_grey
					.widget__title Le Van Cong
					p Born prematurely with legs that were too small. 
					img(src="img/img2.png", alt="")
					a(href="#").btn READ HIS STORY
				.widget.widget_grey
					.widget__title Le Van Cong
					p Born prematurely with legs that were too small. 
					img(src="img/img3.png", alt="")
					a(href="#").btn READ HIS STORY	
			.content
				.topper
					.topper__share
						button.share
							i.icon-share-big
							p Share
					.topper__in
						h1.h1 Trịnh Thị Bích Như
				.hero
					.hero__info
						.hero__img
							img(src="img/trinh-thi-bich-nhu.jpg", alt="")
						.hero__about
							table
								tr
									td 
										p AGE
									td
										p 29
								tr
									td
										p COUNTRY: 
									td
										p Vietnam
								tr
									td
										p SPORT: 
									td 
										p Swimming:
										p S6 Butterfly
										p SB5 100 Breast stroke
										p SM6 Individual Medal
					.hero__medals
						.medal
							.round
								i.icon-medal
							p 2015: SB5 100m Breast stroke Silver Medal at Glasgow World Championships- first swimming medal for Vietnam
						.medal
							.round.round_gold
								i.icon-medal
							p 2011: Gold Medal ASEAN Para Games, Indonesia
					.hero__content
						ul
							li Having suffered polio at a young age she had to have her legs amputated
							li Despite this she wanted to be independent and moved away from her family and took a job in Ho Chi Minh City, sewing at a factory for disabled people earning $2.5 dollars a day.
							li Advised by a friend to try swimming as a form of relaxation she met swimming coach Dong Quoc Cuong in 2010 and soon joined his team where her skill increased only a year later she made her international debut with a gold medal at the ASEAN Para Games.
							li Inspired by Olympian Michael Phelps who holds 22 Olympic medals she makes the journey everyday by bus in her wheelchair to the Tan Binh Training Centre.
							li At the Glasgow Games in July 2015 she took home Vietnam’s first world-class medal in the pool. She is now looking ahead to the Paralympics in Rio, having secured her spot by winning a medal at a World Championship.
							li Did not get through the heats in Paralympics 2012 but then with Parasport support and funding she achieved a world championship medal in 2015
						.quote
							quote My legs don’t work by my will does. That is where my future is
							quote Life is like swimming in water; if you stay still, the water will swallow you. The only way to survive is swimming forward and you will find your life is amazing
							quote If you move with passion and faith, you will never lose your way
	include _footer		










