extends _layout

block title
	title home

block content
	// header
	.header
		.header__in
			.logo
				a(href="index.html")
					img(src="img/logo.svg", width="212", alt="")
			.header__content			
				nav.nav
					ul.menu
						li.menu__link
							a(href="#").menu__about ABOUT US
							.dropdown
								ul
									li
										a(href="#") Who we are
									li
										a(href="#") Our mission
									li
										a(href="#") Impact we have made
									li
										a(href="#") Executive board			
						li.menu__link
							a(href="#").menu__programs programmes
							.dropdown
								ul
									li
										a(href="#") Paralympic sponsorship
									li
										a(href="#") Paralympic movement
									li
										a(href="#") Training
									li
										a(href="#") Helpful links and resources	
						li.menu__link
							a(href="#").menu__heroes our heroes			
						li.menu__link
							a(href="#").menu__partners partners
						li.menu__link
							a(href="#").menu__media media & events
							.dropdown
								ul
									li
										a(href="#") News
									li
										a(href="#") We are in the news
									li
										a(href="#") Gallery
									li
										a(href="#") Events
				a(href="#").support-link support us
				ul.lang
					li.lang__item
						button(type="button").lang__btn.active
							img(src="img/unionjack.png", alt="")
					li.lang__item
						button(type="button").lang__btn
							img(src="img/Flag_of_Russia.png", alt="")			

	// quotes
	.quotes
		.quotes__in
			.quotes__prev.js-quotes-prev
				img(src="img/img3.jpg", alt="")
			.quotes__slider.js-quotes
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/trinh-thi-bich-nhu.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story	
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/img1.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story	
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/img2.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story	
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/img3.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story							
			.quotes__next.js-quotes-next
				img(src="img/img1.jpg", alt="")
	
	// carousel
	.carousel.js-carousel
		.carousel__item
			img(src="http://lorempixel.com/1685/579/transport", alt="")
		.carousel__item
			img(src="http://lorempixel.com/1685/579/sports", alt="")
		.carousel__item
			img(src="http://lorempixel.com/1685/579/nature", alt="")
		.carousel__item
			img(src="http://lorempixel.com/1685/579/technics", alt="")
		.carousel__item
			img(src="http://lorempixel.com/1685/579/sports", alt="")
		.carousel__item
			img(src="http://lorempixel.com/1685/579/people", alt="")			
	// m-news
	.m-news
		.center
			.tabs
				.tabs__topper
					.title News
					ul.tabs__nav
						li
							a(href="#").tabs__link.active
								span LATEST (12)
						li
							a(href="#").tabs__link 
								span PARALYMPIC team (3)
						li
							a(href="#").tabs__link
								span 2014 (12)
						li
							a(href="#").tabs__link 
								span SOCHI 2014 (32)
						li
							a(href="#").tabs__link
								span London 2012 (14)
				.tabs__content								
					.item-wrap
						.item-col
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team	
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team
						.item-col
							.item
								.item__img
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team
						.item-col
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team	
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team						
						.item-col
							.item
								.item__img
									img(src="img/img1.jpg", alt="")
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team																
					.item-more
						button(type="button").more 
							span Load more
							i.icon-load
	// events
	.events
		.events__in
			.center
				.title key events
			.chronology
				.chronology__year
					.chronology__nav
					.chronology__content
						.main-event
							.main-event__title
								span Parasport founded
							.main-event__year 1996
						.event
							.event__line
							.round
								i.icon-human
							.event__text		
								p <strong>Oleg Boyko</strong>
								p <strong>establishes Parasport</strong>	
				.chronology__year
					.chronology__nav
					.chronology__content
						.main-event
							.main-event__title
								span Turin Paralympic Games
							.main-event__year 2006
						.event
							.event__line
							.round 
								span 2006
							.event__text
								p PARASPORT granted financial aid for Russian Paralympic Team’s participation in Turin Paralympics
				.chronology__year
					.chronology__nav
					.chronology__content
						.event
							.event__line
							.round
								span 2009
							.event__text In 2009 PARASPORT participates in financing, training and preparation activities of the Paralympic Team for the X Winter Paralympics 2010 in Vancouver, Canada.		
				.chronology__year
					.chronology__nav
					.chronology__content
						.main-event
							.main-event__title
								span Vancouver Winter Paralympics
							.main-event__year 2010
						.event
							.clr
								.round
									span 2010
								.event__text We establish special grants for athletes - participants of the Vancouver Winter Paralympics of 2010.
								.event__line
							.clr
								.round
									img(src="img/hokkey.png", style="display: inline-block; vertical-align: middle;" alt="")
								.event__text In 2010 the foundation sponsors the Russian Sledge Hockey Team				 
				.chronology__year
					.chronology__nav
					.chronology__content
						.event
							.event__line
							.round
								span 2011
							.event__text We provide financial assistance for  Paralympic Team in their training and preparation for London 2012 Paralympics Games
				.chronology__year
					.chronology__nav
					.chronology__content
						.main-event
							.main-event__title
								span London Paralympic Games
							.main-event__year 2012
				.chronology__year
					.chronology__nav
					.chronology__content
						.main-event
							.main-event__title
								span Sochi Winter Paralympics
							.main-event__year 2014
						.event
							.round
								span 2014
							.event__text Parasport makes large contribution to support paralympics in Sochi
							.event__line
				.chronology__year
					.chronology__nav
					.chronology__content
						.main-event
							.main-event__title
								span Rio Paralympic Games
							.main-event__year 2016
						.event
	// m-quote
	.m-quote
		.center.m-quote__in
			.m-quote__img
				img(src="img/img2.jpg", alt="")
			.m-quote__content
				.m-quote__title Oleg boyko says:
				.m-quote__text “The beauty of the Paralympic movement is that the experiences and achievements it provides, alongside its values, are often a route to success in life beyond sport. Furthering this message is one of Parasport’s core aims as an organisation.”
				.m-quote__author <strong>Oleg Boyko</strong> - Founder of Parasport
	// m-gallery
	.m-gallery
		.center
			.title Our photo memories
		.tabs.tabs_light
			.tabs__topper
				.center
					ul.tabs__nav
						li
							a(href="#").tabs__link.active
								span SOCHI 2014
						li
							a(href="#").tabs__link 
								span LONDON 2012
						li
							a(href="#").tabs__link
								span VANCOUVER 2010
						li
							a(href="#").tabs__link 
								span BEIJING 2008
						li
							a(href="#").tabs__link
								span ARCHIVE	
			.tabs__content
				.gallery
					.gallery__list
						.gallery__col
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
						.gallery__col
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
						.gallery__col
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
						.gallery__col
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
						.gallery__col
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
						.gallery__col
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus
							a.gallery__item(href="#")
								.gallery__preview
									img.gallery__pic(src="img/gallery.jpg")
								.gallery__plus
									i.icon.icon-gallery-plus					
				.more-wrap
					button(type="button").more 
						span Load more
						i.icon-load
	// m-parthners
	.m-parthners
		.center
			.title Our PARTNERS and supporters
			.m-parthners__wrap
				.m-parthners__col
					.m-parthners__title
						.m-parthners__title-in
							span partners
					.slider.js-slider
						.slider__item
							a(href="#")
								img(src="img/sponsor1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor2.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor3.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor2.jpg", alt="")
				.m-parthners__col				 		
					.m-parthners__title
						.m-parthners__title-in
							img(src="img/crowd.png", alt="")
							span Russian paralympic team<br>participating in:
					.slider.js-slider
						.slider__item
							a(href="#")
								img(src="img/event1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event2.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event3.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event2.jpg", alt="")
	// footer
	footer.footer
		.center.footer__in
			.footer__logo
				a(href="index.html")
					img(src="img/logo-white.svg", width="94", alt="")
			.footer__menu
				.footer__link
					a(href="#") Cookies Policy
				.footer__link
					a(href="#") Terms & Conditions
				.footer__link
					a(href="#") Sitemap
				.footer__link
					a(href="#") Contact us			
			.footer__socials
				span Follow us:
				ul
					li
						a(href="#")
							i.icon-tw
					li
						a(href="#")
							i.icon-fb
					li
						a(href="#")
							i.icon-play
					li
						a(href="#")
							i.icon-in				
			.footer__copyrights © Copyright 2015








