extends _layout

block title
	title home

block content
	include _header

	// quotes
	.quotes
		.quotes__in
			.quotes__prev.js-quotes-prev
				img(src="img/img3.jpg", alt="")
			.quotes__slider.js-quotes
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/trinh-thi-bich-nhu.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story	
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/img1.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story	
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/img2.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story	
				.quotes__item
					.quotes__left
						.quotes__topper
							.quotes__img
								img(src="img/img3.jpg", alt="")
							.quote__medals
								.round
									i.icon-medal
						.quote__person
							.quote__name Trịnh Thị Bích Như
							.quote__status Parasport Olympian 				
					.quotes__right
						.quote__text “My legs don’t work by my will does. That is where my future is”
						.quote__bottom
							button(type="button").btn Read Hero story							
			.quotes__next.js-quotes-next
				img(src="img/img1.jpg", alt="")
	
	// carousel
	.carousel.js-carousel
		.carousel__item(style="background-image:url(http://lorempixel.com/1920/579/transport);")
			.carousel__title Our athletes in action
			.carousel__event London Paralympic Games 2014
		.carousel__item(style="background-image:url(http://lorempixel.com/1920/579/sports);")
			.carousel__title Our athletes in action
			.carousel__event London Paralympic Games 2014
		.carousel__item(style="background-image:url(http://lorempixel.com/1920/579/nature);")
			.carousel__title Our athletes in action
			.carousel__event London Paralympic Games 2014
		.carousel__item(style="background-image:url(http://lorempixel.com/1920/579/technics);")
			.carousel__title Our athletes in action
			.carousel__event London Paralympic Games 2014
		.carousel__item(style="background-image:url(http://lorempixel.com/1920/579/sports);")
			.carousel__title Our athletes in action
			.carousel__event London Paralympic Games 2014
		.carousel__item(style="background-image:url(http://lorempixel.com/1920/579/people);")
			.carousel__title Our athletes in action
			.carousel__event London Paralympic Games 2014			
	// m-news
	.m-news
		.center
			.tabs
				.tabs__topper
					.title News
					.tabs-row.js-tabs
						.tabs-row__prev.js-tabs-prev
						.tabs-row__next.js-tabs-next
						.tabs-row__in.js-tabs-wrap
							ul.tabs__nav.js-tabs-list
								li
									a(href="#").tabs__link.active
										span LATEST (12)
								li
									a(href="#").tabs__link 
										span PARALYMPIC team (3)
								li
									a(href="#").tabs__link
										span 2014 (12)
								li
									a(href="#").tabs__link 
										span SOCHI 2014 (32)
								li
									a(href="#").tabs__link
										span London 2012 (14)
				.tabs__content								
					.item-wrap
						.item-col
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team	
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team
						.item-col
							.item
								.item__img
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team
						.item-col
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team	
							.item
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team						
						.item-col
							.item
								.item__img
									img(src="img/img1.jpg", alt="")
								.item__content
									a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
									.date Sep 23 2015
									.item__bottom.tags
										span Tags:
										ul
											li
												a(href="#").tag 2015
											li
												a(href="#").tag Paralympic Team																
					.item-more
						button(type="button").more 
							span Load more
							i.icon-load
	// events
	.events
		.events__in
			.center
				.title key events
			.chronology-wrap
				.chronology
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 1996
						.chronology__content.js-chronology-content
							.main-event
								.main-event__title
									span Parasport founded
								.main-event__year 1996
							.event
								.event__line
								.round
									i.icon-human
								.event__text		
									p <strong>Oleg Boyko</strong>
									p <strong>establishes Parasport</strong>	
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 2006
						.chronology__content.js-chronology-content
							.main-event
								.main-event__title
									span Turin Paralympic Games
								.main-event__year 2006
							.event
								.event__line
								.round 
									span 2006
								.event__text
									p PARASPORT granted financial aid for Russian Paralympic Team’s participation in Turin Paralympics
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 2009
						.chronology__content.js-chronology-content
							.event
								.event__line
								.round
									span 2009
								.event__text In 2009 PARASPORT participates in financing, training and preparation activities of the Paralympic Team for the X Winter Paralympics 2010 in Vancouver, Canada.		
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 2010
						.chronology__content.js-chronology-content
							.main-event
								.main-event__title
									span Vancouver Winter Paralympics
								.main-event__year 2010
							.event
								.clr
									.round
										span 2010
									.event__text We establish special grants for athletes - participants of the Vancouver Winter Paralympics of 2010.
									.event__line
								.clr
									.round
										img(src="img/hokkey.png", style="display: inline-block; vertical-align: middle;" alt="")
									.event__text In 2010 the foundation sponsors the Russian Sledge Hockey Team				 
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 2011
						.chronology__content.js-chronology-content
							.event
								.event__line
								.round
									span 2011
								.event__text We provide financial assistance for  Paralympic Team in their training and preparation for London 2012 Paralympics Games
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
								p 2012
						.chronology__content.js-chronology-content
							.main-event
								.main-event__title
									span London Paralympic Games
								.main-event__year 2012
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 2014
						.chronology__content.js-chronology-content
							.main-event
								.main-event__title
									span Sochi Winter Paralympics
								.main-event__year 2014
							.event
								.round
									span 2014
								.event__text Parasport makes large contribution to support paralympics in Sochi
								.event__line
					.chronology__year.js-chronology
						.chronology__nav.js-chronology-nav
							p 2016
						.chronology__content.js-chronology-content
							.main-event
								.main-event__title
									span Rio Paralympic Games
								.main-event__year 2016
							.event
	// m-quote
	.m-quote
		.center.m-quote__in
			.m-quote__img
				img(src="img/img2.jpg", alt="")
			.m-quote__content
				.m-quote__title Oleg boyko says:
				.m-quote__text “The beauty of the Paralympic movement is that the experiences and achievements it provides, alongside its values, are often a route to success in life beyond sport. Furthering this message is one of Parasport’s core aims as an organisation.”
				.m-quote__author <strong>Oleg Boyko</strong> - Founder of Parasport
	// m-gallery
	.m-gallery
		.center
			.title Our photo memories
		.tabs.tabs_light
			.tabs__topper
				.center
					ul.tabs__nav
						li
							a(href="#").tabs__link.active
								span SOCHI 2014
						li
							a(href="#").tabs__link 
								span LONDON 2012
						li
							a(href="#").tabs__link
								span VANCOUVER 2010
						li
							a(href="#").tabs__link 
								span BEIJING 2008
						li
							a(href="#").tabs__link
								span ARCHIVE	
			.tabs__content
				.gallery
					.gallery__list
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
						.gallery__col
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__play
										i.icon.icon-gallery-play
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
							.gallery__item
								a.gallery__link(href="#")
									.gallery__preview
										img.gallery__pic(src="img/gallery.jpg")
									.gallery__plus
										i.icon.icon-gallery-plus
								button.gallery__full
									i.icon.icon-gallery-full
				.more-wrap
					button(type="button").more 
						span Load more
						i.icon-load
	// m-parthners
	.m-parthners
		.center
			.title Our PARTNERS and supporters
			.m-parthners__wrap
				.m-parthners__col
					.m-parthners__title
						.m-parthners__title-in
							span partners
					.slider.js-slider
						.slider__item
							a(href="#")
								img(src="img/sponsor1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor2.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor3.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/sponsor2.jpg", alt="")
				.m-parthners__col				 		
					.m-parthners__title
						.m-parthners__title-in
							img(src="img/crowd.png", alt="")
							span Russian paralympic team<br>participating in:
					.slider.js-slider
						.slider__item
							a(href="#")
								img(src="img/event1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event2.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event3.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event1.jpg", alt="")
						.slider__item
							a(href="#")
								img(src="img/event2.jpg", alt="")
	include _footer








