extends _layout

block title
	title News_page_main

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") Media & Events
					li
						a(href="#") News	
			.topper.topper_wide
				.topper__left
					h1.h1 News
				.topper__in
					.tabs
						.tabs__topper
							.tabs-row.js-tabs
								.tabs-row__prev.js-tabs-prev
								.tabs-row__next.js-tabs-next
								.tabs-row__in.js-tabs-wrap
									ul.tabs__nav.js-tabs-list
										li
											a(href="#").tabs__link.active
												span LATEST (12)
												i.icon-close-thin
										li
											a(href="#").tabs__link
												span PARALYMPIC team (3)
												i.icon-close-thin
										li
											a(href="#").tabs__link
												span 2014 (12)
												i.icon-close-thin
										li
											a(href="#").tabs__link 
												span SOCHI 2014 (32)
												i.icon-close-thin
										li
											a(href="#").tabs__link
												span London 2012 (14)
												i.icon-close-thin
										li
											a(href="#").tabs__link
												span London 2012 (14)
												i.icon-close-thin		
			aside.sidebar
				.widget.calendar
					.calendar__topper
						button.calendar__prev
						.calendar__title september
						button.calendar__next
					.calendar__week
						table
							tr
								td M
								td T
								td W
								td T		
								td F
								td S
								td S
					.calendar__days
						table
							tr
								td
									a(href="#").disabled 30
								td
									a(href="#").disabled 31
								td
									a(href="#") 1
								td
									a(href="#") 2	
								td
									a(href="#") 3
								td
									a(href="#") 4
								td
									a(href="#") 5	
							tr
								td
									a(href="#") 6
								td
									a(href="#") 7
								td
									a(href="#") 8
								td
									a(href="#") 9	
								td
									a(href="#") 10
								td
									a(href="#") 11
								td
									a(href="#") 12
							tr
								td
									a(href="#") 13
								td
									a(href="#") 14
								td
									a(href="#") 15
								td
									a(href="#") 16	
								td
									a(href="#").active 17
								td
									a(href="#") 18
								td
									a(href="#") 19
							tr
								td
									a(href="#") 20
								td
									a(href="#") 21
								td
									a(href="#") 22
								td
									a(href="#") 23	
								td
									a(href="#") 24
								td
									a(href="#") 25
								td
									a(href="#") 26
							tr
								td
									a(href="#") 27
								td
									a(href="#") 28
								td
									a(href="#") 29
								td
									a(href="#") 30	
								td
									a(href="#").disabled 1
								td
									a(href="#").disabled 2
								td
									a(href="#").disabled 3								
				.widget.widget_grey
					.widget__title UPCOMING EVENT:
					.events-slider.js-events-slider
						.events-slider__item
							.events-slider__date
								.events-slider__date-in
									p September
									p
										strong 17
							.events-slider__title RIO PARALYMPIC PREPARATIONS (MOSCOW, RUSSIA)
							p Come and support our team for their first training in preparations for Rio.
							button.btn 
								i.icon-plus-thin
								span ADD EVENT
						.events-slider__item
							.events-slider__date
								.events-slider__date-in
									p September
									p
										strong 17
							.events-slider__title RIO PARALYMPIC PREPARATIONS (MOSCOW, RUSSIA)
							p Come and support our team for their first training in preparations for Rio.
							button.btn 
								i.icon-plus-thin
								span ADD EVENT		
			.content
				.item-wrap
					.item-col
						.item
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team	
						.item
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team
					.item-col
						.item
							.item__img
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team
					.item-col
						.item
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team	
						.item
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team						
					.item-col
						.item
							.item__img
								img(src="img/img5.jpg", alt="")
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team
					.item-col.item-col_large
						.item.item_large
							.item__img
								img(src="img/img1.jpg", alt="")
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									span Tags:
									ul
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team																	
				.item-more
					button(type="button").more 
						span Load more
						i.icon-load
	include _footer		










