extends _layout

block title
	title News_page_detail

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") Media & Events
					li
						a(href="#") News	

			aside.sidebar
				.widget.widget_grey
					.widget__title Le Van Cong
					p Born prematurely with legs that were too small. 
					img(src="img/img1.png", alt="")
					a(href="#").btn READ HIS STORY
				.widget.widget_grey
					.widget__title Le Van Cong
					p Born prematurely with legs that were too small. 
					img(src="img/img2.png", alt="")
					a(href="#").btn READ HIS STORY
				.widget.widget_grey
					.widget__title Le Van Cong
					p Born prematurely with legs that were too small. 
					img(src="img/img3.png", alt="")
					a(href="#").btn READ HIS STORY	
			.content
				.topper
					.topper__share
						button.share
							i.icon-share-big
							p Share
					.topper__in
						h1.h1 "Parasport" aims to strengthen the partnership between athletes with disabilities and the community.
				.post
					ul.post__details
						li Sep 23 2015
						li By <a href="#">Marina Podsenko</a>
					.post__img
						img(src="img/img4.jpg", alt="")
						.tags
							ul
								li Tags:
								li
									a(href="#").tag 2015
								li
									a(href="#").tag Russian Team
								li
									a(href="#").tag Sochi 2014
					article.article
						p
							strong Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
						.medals
							.medal
								.round
									i.icon-medal
								p We establish special grants for Russian athletes - participants of the Vancouver Winter Paralympics of 2010.
							.medal
								.round.round_gold
									i.icon-medal
								p We establish special grants for Russian athletes - participants of the Vancouver Winter Paralympics of 2010.
							.medal
								.medal__left
									p
										strong 20
									p Silver medals
								p In 2010 the foundation sponsors the Russian Sledge Hockey Team
							.medal
								.medal__left
									p
										strong 20
									p Silver medals
								p In 2010 the foundation sponsors the Russian Sledge Hockey Team				
						ul.narrow
							li Lorem ipsum dolor sit ame
							li Consectetur adipiscing elit,
							li sed do eiusmod tempor incididunt ut labore et
							li Excepteur sint occaecat cupidatat non proidentt
							li Lorem ipsum dolor sit ame
							li Consectetur adipiscing elit,
							li sed do eiusmod tempor incididunt ut labore et 
							li Excepteur sint occaecat cupidatat non proidentt
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."	 					
		.article-nav
			.article-nav__title READ NEXT STORY:
			.article-nav__links
				.article-nav__prev
					a(href="#").article-nav__arrow
						i.icon-arr-left
					.article-nav__block
						.item
							.item__img
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									ul
										li Tags:
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team
				.article-nav__next
					.article-nav__block
						.item
							.item__img
								img(src="img/img1.jpg", alt="")
							.item__content
								a(href="#").item__title <strong>PARASPORT granted financial aid</strong> for Paralympic Team’s participation in Turin Paralympics
								.date Sep 23 2015
								.item__bottom.tags
									ul
										li Tags:	
										li
											a(href="#").tag 2015
										li
											a(href="#").tag Paralympic Team
					a(href="#").article-nav__arrow
						i.icon-arr-right		

	include _footer		










