extends _layout

block title
	title Our_partners

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") Partners

			aside.sidebar
				.widget
					.widget__title SUPPORT US
					p Only with your support and Parasport we can be proud of our Olympians
					img(src="img/ambrella.png", alt="")
					button.btn support us
				.widget.widget_grey.brochure
					.widget__title DOWNLOAD OUR LATEST BROCHURE
					img(src="img/brochure.png", alt="")
					button.btn DOWNLOAD
				.widget.widget_grey
					a(href="#").asia-pasific
						.asia-pasific__logo
							img(src="img/logo.svg", width="82", alt="")
						p PARASPORT
						p ASIA
						p PACIFIC
			.content
				.topper
					.topper__share
						button.share
							i.icon-share-big
							p Share
					.topper__in
						h1.h1 Partners
						p «ПАРАСПОРТ» сотрудничает со многими спортивными организациями, коммерческими и некоммерческими компаниями, партнерство с которыми помогает ему достигать максимальных результатов в работе фонда.
				.partner__list
					.partner
						.partner__logo
							img(src="img/sponsor1.jpg", alt="")
						.partner__title
							p Фонд поддержки инвалидов 
							p «Единая страна»
					.partner
						.partner__logo
							img(src="img/sponsor2.jpg", alt="")
						.partner__title
							p Паралимпийский комитет России
				article.article
					p 
						storng Получатели финансовой поддержки
					ul
						li Чемпионы российской паралимпийской сборной на зимних играх в Турине, 2006
						li Чемпионы российской паралимпийской сборной на летних играх в Пекине, 2008	
					hr		
					ul
						li PARASPORT works in close partnership with the Russian Paralympic Committee and international paralympic organizations.
						li The PARASPORT foundation invites founding contributors to join us in our work. We are open to partnerships and cooperation to support the right of disabled people to full participation, equality, and development through the world of sports.					
	include _footer	










