extends _layout

block title
	title Our_mission

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") About us
					li
						a(href="#") Our mission

			aside.sidebar
				.widget
					.widget__title SUPPORT US
					p Only with your support and Parasport we can be proud of our Olympians
					img(src="img/ambrella.png", alt="")
					button.btn support us
				.widget.widget_grey.brochure
					.widget__title DOWNLOAD OUR LATEST BROCHURE
					img(src="img/brochure.png", alt="")
					button.btn DOWNLOAD
				.widget.widget_grey
					a(href="#").asia-pasific
						.asia-pasific__logo
							img(src="img/logo.svg", width="82", alt="")
						p PARASPORT
						p ASIA
						p PACIFIC
			.content
				.topper
					.topper__share
						button.share
							i.icon-share-big
							p Share
					.topper__in
						h1.h1 Our mission
						p MISSION The foundation, both in its role as a founding sponsor of the Paralympic Movement and through a variety of other fund-raising initiatives:
				.board
					.board__list
						.board__item
							.board__left
								.round.round_gold
									i.icon-heart-plus
							.board__right
								p 
									strong Supports Paralympic athletes in their participation in sports and social activities
						.board__item
							.board__left
								.round.round_gold
									i.icon-moneykeeper
							.board__right
								p 
									strong Provides financial support directly to promising athletes
						.board__item
							.board__left
								.round.round_gold
									i.icon-comments
							.board__right
								p
									strong Stimulates public policy discussion disabled individuals and groups	
						.board__item
							.board__left
								.round.round_gold
									i.icon-fit
							.board__right
								p
									strong Promotes sports among disabled individuals and groups	
						.board__item
							.board__left
								.round.round_gold
									i.icon-people
							.board__right
								p
									strong Helps to enact measures to advance the state of Paralympic sports in the country
				.images
					.images__item.wide
						img(src="img/img6.jpg", alt="")
					.images__item
						img(src="img/img6.jpg", alt="")
					.images__item
						img(src="img/img6.jpg", alt="")
					.images__item
						img(src="img/img6.jpg", alt="")
					.images__item
						img(src="img/img6.jpg", alt="")			
	include _footer	










