extends _layout

block title
	title Programmers

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") Programmers

			aside.sidebar
				.widget
					.widget__title SUPPORT US
					p Only with your support and Parasport we can be proud of our Olympians
					img(src="img/ambrella.png", alt="")
					button.btn support us
				.widget.widget_grey.brochure
					.widget__title DOWNLOAD OUR LATEST BROCHURE
					img(src="img/brochure.png", alt="")
					button.btn DOWNLOAD
				.widget.widget_grey
					a(href="#").asia-pasific
						.asia-pasific__logo
							img(src="img/logo.svg", width="82", alt="")
						p PARASPORT
						p ASIA
						p PACIFIC
			.content
				.topper
					.topper__share
						button.share
							i.icon-share-big
							p Share
					.topper__in
						h1.h1 Programmers
						p PARASPORT strives to provide sufficient funding and charitable programs to para-athletes through active cooperation with the National Paralympic Committees. Today the foundation works to develop charitable programs in two major fields.
				.tabs
					ul.tabs__nav
						li
							a(href="#").tabs__link.active
								span Paralympic<br>sponsorship
						li
							a(href="#").tabs__link
								span Paralympic<br>Movement
						li
							a(href="#").tabs__link
								span Training
					.tabs__content
						.programmers
							article.article
								h3 Paralympic sponsorship
								img(src="img/img7.jpg", alt="")
							.programmers__text
								.programmers__title Paralympic Teams Sponsorship
								p Through our fundraising efforts and donations to the National Paralympic teams, PARASPORT has provided substantial financial assistance for the athletes and sports facilities.	
							.programmers__text
								.programmers__title Paralympic Movement Development
								p The foundation is deeply committed to issues and events pertaining to athletes with disabilities throughout the world. PARASPORT’s major goal is to assist in building strong relationships between Russian and international Paralympic organizations, athletes, government institutions, and society at large. Our assistance is realized through financing and arranging events and educational programs.
							.images
								.images__item
									img(src="img/img6.jpg", alt="")
								.images__item
									img(src="img/img6.jpg", alt="")
								.images__item
									img(src="img/img6.jpg", alt="")
								.images__item
									img(src="img/img6.jpg", alt="")				
	include _footer	










