extends _layout

block title
	title sitemap

block content
	include _header

	// main
	.container
		.main
			// breadcrumbs
			nav.breadcrumbs
				ul
					li
						a(href="home.html") Home
					li
						a(href="#") Sitemap
			//- sitemap
			.sitemap
				h1.sitemap__h1.h1 Sitemap
				.sitemap__list
					.sitemap__item
						.sitemap__title About us
						.sitemap__list
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Who we are
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Our missions
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Who we are
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Our missions
					.sitemap__item
						.sitemap__title Programmes
						.sitemap__list
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Paralympic sponsorship
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Paralympic movement
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Training
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Helpful links & resources
					.sitemap__item
						.sitemap__title Partners
						.sitemap__list
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Our partners
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Become a partner
					.sitemap__item
						.sitemap__title Our heroes
						.sitemap__list
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Olesya Vladykina
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Roman Petushkov
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Trịnh Thị Bích Như
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Le Van Cong
					.sitemap__item
						.sitemap__title Media & events
						.sitemap__list
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Events
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title We are in the news
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Gallery
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Events
					.sitemap__item
						.sitemap__title Support us
						.sitemap__list
							a.sitemap__link(href="#")
								.sitemap__link-arrow
									i.icon.icon-arrow-link
								.sitemap__link-title Support us
			
	// footer
	footer.footer
		.center.footer__in
			.footer__logo
				a(href="index.html")
					img(src="img/logo-white.svg", width="94", alt="")
			.footer__menu
				.footer__link
					a(href="#") Cookies Policy
				.footer__link
					a(href="#") Terms & Conditions
				.footer__link
					a(href="#") Sitemap
				.footer__link
					a(href="#") Contact us			
			.footer__socials
				span Follow us:
				ul
					li
						a(href="#")
							i.icon-tw
					li
						a(href="#")
							i.icon-fb
					li
						a(href="#")
							i.icon-play
					li
						a(href="#")
							i.icon-in				
			.footer__copyrights © Copyright 2015		










